@model HomeVM

<!-- start banner Area -->
<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
							<!-- single-slide -->
					<div class="row single-slide">
						<div class="col-lg-5">
							<div class="banner-content">
								<h1>Nike New <br>Collection!</h1>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
								</p>
								<div class="add-bag d-flex align-items-center">
									<a class="add-btn" asp-controller="Shop" asp-action="Index"><span class="lnr lnr-cross"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="~/assets/img/banner/banner-img.png" alt="">
							</div>
						</div>
					</div>
					<!-- single-slide -->
					<div class="row single-slide">
						<div class="col-lg-5">
							<div class="banner-content">
								<h1>Nike New <br>Collection!</h1>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
								</p>
								<div class="add-bag d-flex align-items-center">
									<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="~/assets/img/banner/banner-img.png" alt="">
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="~/assets/img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="~/assets/img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="~/assets/img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="~/assets/img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- end features Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide-Nike -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Nike</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore
								magna aliqua.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					@foreach (var product in Model.BrandsProducts.Where(n => n.BrandName == "Nike").Take(4).ToList())
				{
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
							<div class="product-details">
								<h6>
									@product.Title
								</h6>
								<div class="price">
									@if(product.DiscountValue == 0)
									{
										<h6>$@product.Price</h6>

									}else
									{
										<h6>$@Math.Round((product.Price - (product.Price * @product.DiscountValue / 100)),2)</h6>
										<h6 class="l-through">$@product.Price</h6>
									}
								</div>
								<div class="prd-bottom">

									<a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@product.Id" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>

				}
				</div>
			</div>
		</div>
		<!-- single product slide-Adidas -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Adidas</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore
								magna aliqua.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
				@foreach (var product in Model.BrandsProducts.Where(n => n.BrandName == "Adidas").Take(4).ToList())
				{
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
							<div class="product-details">
								<h6>
									@product.Title
								</h6>
								<div class="price">
									@if (product.DiscountValue == 0)
									{
										<h6>$@product.Price</h6>

									}
									else
									{
										<h6>$@Math.Round((product.Price - (product.Price * @product.DiscountValue / 100)),2)</h6>
										<h6 class="l-through">$@product.Price</h6>
									}
								</div>
								<div class="prd-bottom">

									<a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@product.Id" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>

				}
				</div>
			</div>
		</div>
		<!-- single product slide-Puma -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Puma</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore
								magna aliqua.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
				@foreach (var product in Model.BrandsProducts.Where(n => n.BrandName == "Puma").Take(4).ToList())
				{
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
							<div class="product-details">
								<h6>
									@product.Title
								</h6>
								<div class="price">
									@if (product.DiscountValue == 0)
									{
										<h6>$@product.Price</h6>

									}
									else
									{
										<h6>$@Math.Round((product.Price - (product.Price * @product.DiscountValue / 100)),2)</h6>
										<h6 class="l-through">$@product.Price</h6>
									}
								</div>
								<div class="prd-bottom">

									<a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@product.Id" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>

				}
				</div>
			</div>
		</div>

		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>New Balance</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore
								magna aliqua.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
				@foreach (var product in Model.BrandsProducts.Where(n => n.BrandName == "New Balance").Take(4).ToList())
				{
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
							<div class="product-details">
								<h6>
									@product.Title
								</h6>
								<div class="price">
									@if (product.DiscountValue == 0)
									{
										<h6>$@product.Price</h6>

									}
									else
									{
										<h6>$@Math.Round((product.Price - (product.Price * @product.DiscountValue / 100)),2)</h6>
										<h6 class="l-through">$@product.Price</h6>
									}
								</div>
								<div class="prd-bottom">

									<a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@product.Id" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>

				}
				</div>
			</div>
		</div>
	</section>
<!-- end product Area -->
<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6 no-padding exclusive-left">
					<div class="row clock_sec clockdiv" id="clockdiv">
						<div class="col-lg-12">
							<h1>Don't waste time!</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
						<div class="col-lg-12">
						</div>
					</div>
					<a asp-controller="Shop" asp-action="Index" class="primary-btn">Shop Now</a>
				</div>
				<div class="col-lg-6 no-padding exclusive-right">
					<div class="active-exclusive-product-slider">
					@foreach (GetProductVM product in Model.BannerProducts)
					{
						<!-- single exclusive carousel -->
						<div class="single-exclusive-slider">
							<img class="img-fluid" src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
							<div class="product-details">
								<div class="price">
									@if (product.DiscountValue != 0)
									{
										<h6>$@Math.Round((product.Price - (product.Price * @product.DiscountValue / 100)),2)</h6>
										<h6 class="l-through">$@product.Price</h6>
									}
									else
									{
										<h6>$@product.Price</h6>
									}

								</div>
								<h4>
									addidas New Hammer sole
									for Sports person
								</h4>
								<div class="add-bag d-flex align-items-center justify-content-center">
									<a class="add-btn" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id"><span class="ti-bag"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
					}
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End exclusive deal Area -->
<!-- Start brand Area -->
<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/assets/img/brands2/Adidas-logo-768x432.jpg" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/assets/img/brands2/Kappa-logo-768x432.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/assets/img/brands2/Nike-logo-768x432.jpg" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/assets/img/brands2/New-Balance-Logo-768x432.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/assets/img/brands2/Puma-logo-1-768x432.jpg" alt="">
				</a>
			</div>
		</div>
	</section>
<!-- End brand Area -->
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
					@foreach(GetProductVM product in Model.DiscountedProducts)
					{
						<div class="col-lg-3 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id"><img style="width: 50px" src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt=""></a>
								<div class="desc">
									<a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id" class="title">@product.Title</a>
									<div class="price">
										<h6>$@Math.Round((product.Price - (product.Price * @product.DiscountValue / 100)),2)</h6>
										<h6 class="l-through">$@product.Price</h6>
									</div>
								</div>
							</div>
						</div>
					}
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End related-product Area -->
