@model ShopVM

@* @{
    int currentPage = (int)ViewData["CurrentPage"];
    int TotalPages = (int)ViewData["TotalPages"];
}
 *@

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop Category page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Category</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Categories</div>
                <ul class="main-categories">
                    @foreach (Category category in Model.Categories)
                    {
                        <li class="main-nav-list">
                            <a style="cursor: pointer" class="category-filter" category-id="@category.Id">
                                <span class="lnr lnr-arrow-right"></span>@category.Name<span class="number">(@category.Products.Count)</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Brands</div>
                    <form action="#">
                        <ul class="main-categories">
                            @foreach (Brand brand in Model.Brands)
                            {
                                <li class="main-nav-list filter-list">
                                    <a style="cursor:pointer" class="brand-filter" brand-id="@brand.Id">
                                        @brand.Name<span class="number">(@brand.Products.Count)</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </form>
                </div>
                <div class="common-filter">
                    <div class="head">Color</div>
                    <form action="#">
                        <ul>
                            @foreach (Color color in Model.Colors)
                            {
                                <li class="main-nav-list filter-list">
                                    <a style="color: #000; cursor:pointer" class="color-filter" color-id="@color.Id">
                                        @color.Name<span class="number">(@color.Products.Count)</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">

            <div class="filter-bar d-flex flex-wrap align-items-center">
            </div>

            <section class="lattest-product-area pb-40 category-list">
                <div class="row" id="product-container">
                    @{
                        var products = Model.PaginateProducts?.Datas ?? Model.Products;
                    }

                    @foreach (var product in products)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                <img class="img-fluid" src="~/assets/uploads/images/@product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
                                <div class="product-details">
                                    <h6>@product.Title</h6>
                                    <div class="price">

                                        @if (product.DiscountValue != 0)
                                        {
                                            <h6>$@Math.Round((decimal)(product.Price - (product.Price * product.DiscountValue / 100)), 2)</h6>
                                            <h6 class="l-through">$@Math.Round(product.Price, 2)</h6>
                                        }
                                        else
                                        {
                                            <h6>$@Math.Round(product.Price, 2)</h6>
                                        }
                                    </div>
                                    <div class="prd-bottom">

                                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" class="social-info">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">add to bag</p>
                                        </a>
                                        <a asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id" class="social-info">
                                            <span class="lnr lnr-heart"></span>
                                            <p class="hover-text">Wishlist</p>
                                        </a>

                                        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@product.Id" class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">view more</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </section>

            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                </div>
                <div class="pagination">
                    <a asp-route-page="@(Model.PaginateProducts.CurrentPage - 1)" class="prev-arrow page-link @(Model.PaginateProducts.Previous == false ? "disabled" : "")"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    @for (int i = 1; i <= Model.PaginateProducts.TotalPage; i++)
                    {
                        <a asp-route-page="@i" class="page-link @(Model.PaginateProducts.Next == true ? "" : "disabled")">@i</a>
                    }
                    <button class="page-link next-arrow @(Model.PaginateProducts.Next == true ? "" : "disabled")" asp-route-page="@(Model.PaginateProducts.CurrentPage + 1)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>

