@model BlogVM


<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/assets/img/blog/cat-post/cat-post-3.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="#">
                                <h5>Social Life</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Enjoy your social life together</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/assets/img/blog/cat-post/cat-post-2.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Politics</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Be a part of politics</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="~/assets/img/blog/cat-post/cat-post-1.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Food</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Let the food be finished</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    @foreach(Blog blog in Model.Blogs)
                    {
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">@blog.BlogCategory.Name</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">@blog.AppUser.Firstname @blog.AppUser.Lastname<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">@blog.CreateDate.ToString("MMMM dd, yyyy", System.Globalization.CultureInfo.InvariantCulture)<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">@blog.Comments.Where(n => !n.IsDeleted).ToList().Count Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="~/assets/uploads/images/@blog.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
                                    <div class="blog_details">
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">
                                            <h2>@blog.Title</h2>
                                        </a>
                                        <p>
                                            @blog.Content.Substring(0, 500)
                                        </p>
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        @foreach(Blog blog in Model.PopularBlogs)
                        {
                            <div class="media post_item">
                                <div class="col-4 p-0">
                                    <img class="w-100" src="~/assets/uploads/images/@blog.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="post">
                                </div>
                                <div class="col-8 media-body">
                                    <a asp-action="Detail" asp-route-id="@blog.Id">
                                        <h3>@blog.Title</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                        }
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Categories</h4>
                        <ul class="list cat-list">
                            @foreach(BlogCategory blogCategory in Model.BlogCategories)
                            {
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>@blogCategory.Name</p>
                                        <p>@blogCategory.Blogs.Count</p>
                                    </a>
                                </li>
                            }
                        </ul>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
